.second-row {
  margin-top: -1.5rem;
}

header {
  overflow: hidden !important;
  /* flex: 0 80px; */
}

header .session-info {
  float: right;
  padding-right: .8em;

  p {
    margin-bottom: 0;
  }
}

img.logo {
  height: 1em;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

menu .nav-item {
  padding: 0 0.3em;
}

.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: space-around; */
  background-color: #E0E0E0;
}

footer {
  /* flex: 0 30px; */
}

footer a {
  float: right;
}

.content {
  padding-top: 110px;
}